*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    background-color:#eee;
    width: 1000px;
    padding: 30px auto;

    display: grid;
    grid-template-rows: repeat(2, 150px);
    grid-template-columns: repeat(3, 150px);

    grid-gap: 30px
}

.items {
    padding: 20px;
    font-size: 30px;

}
.item1 {
    background-color: pink;

    grid-row: 1 / 2;
    grid-column: 1 /4;

    /* grid-row: 2 / 3;
    grid-column: 2 / 3; */

    /* grid-area: 2 / 2 / 3 / 3; */
    /* grid-row-start: 2;
    grid-row-end: 3;

    grid-column-start: 2;
    grid-column-end: 3; */
}
.item2 {
    background-color: teal;
    grid-column:  3 / 4;
    grid-row:  1 / 3;
}
.item3 {
    background-color: yellowgreen;
}
.item4 {
    background-color: crimson;
}
.item5 {
    background-color: goldenrod;
}
.item6 {
    background-color: indianred;
}
